# Virtual Environment
lastfm.venv/
venv/
env/
*.venv

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python

# Output files
output/
*.csv
*.dat
*.json
*.png

# IDE
.vscode/
.idea/
*.swp
*.swo
*~

# OS
.DS_Store
Thumbs.db

# MySQL
*.sql
*.db

data/*.dat